.mainSection {
  padding-top: 0.5rem;
  align-items: center;
  text-align: center;
  background-color: rgb(30, 30, 39);
}

.footer {
  flex-direction: column;
  background-color: rgb(30, 30, 39);
  width: 100%;
  position: relative;
  bottom: 0;
  width: 100%;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
}

.links-div {
  width: 150px;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

a {
  color: rgb(175, 175, 179);
  text-decoration: none;
}

.links-div h4 {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0 9rem;
  color: antiquewhite;
  text-align: center;
}

.links-div p {
  font-size: 12px;
  line-height: 15px;
  margin: 0, 5rem 0;
  cursor: pointer;
  text-align: center;
}

.belowContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.linksBelow {
  display: flex;
  flex-direction: row;
}

.linksBelow p {
  font-size: 13px;
  line-height: 15px;
  margin-left: 2rem;
  color: white;
  font-weight: 600;
}

hr {
  color: white !important;
  width: 100%;
  margin-top: 2rem;
  margin-left: 5.1rem;
}

.copyright p {
  font-size: 13px;
  line-height: 15px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}


